<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="OnePassIcon.ico">
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <nav>
        @*<div class="nav-item">
            <a asp-controller="Home" asp-action="index" class="nav-link">
                <img src="~/images/OnePassIcon.png" class="nav-icon" />
            </a>
        </div>*@
        <div class="nav-item">
            <a asp-controller="Home" asp-action="index" class="nav-link">OnePass</a>
        </div>
        <div class="nav-item">
            <a asp-controller="PasswordGenerator" asp-action="index" class="nav-link">Password Generator</a>
        </div>
    </nav>

    <content>
        @RenderBody()
    </content>
</body>
</html>
