<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="OnePassIcon.ico">
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>

    <header>

    </header>

    <content>
        @RenderBody()
    </content>
</body>
</html>
